.main__pic {
    position: relative;
    margin-right: 80px;
}

.main__pic img {
    border-radius: 25px;
}

.name {
    
    font-family: 'Montserrat', sans-serif;
    font-size: 17pt;
    font-weight: 500;
    color: #000;
    letter-spacing: 0px;
    text-decoration: none;
}

.unset {
    font-weight: 300;
    font-style: italic;
    text-decoration: underline;
}

.saveCancel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    float: right;
    margin-top: -10px;
    margin-left: 50px;
}