<header>
    <img src = '../../images/head.png' alt = 'header'>
    <div class = 'head_content'>
        <div class = 'head_up'>
            <div class = 'head_left'>
                <div class = 'head_logo'>
                    <img src = '../../images/logo.png' alt = 'logo'>
                </div>
                <div class = 'head_title'>
                    <span class = '_1'>BMSTU</span><span class = '_2'> NET</span><span class = '_3'>WORK</span>
                </div>
            </div>
            <nav>
                <ul>
                    <li><a routerLink = "/main"></a></li>
                    <li><a routerLink = "/about"></a></li>
                    <li><a routerLink = "/contacts"></a></li>
                </ul>
            </nav>
        </div>
        <div class = 'head_last'>
            <div class = 'left'>
                <div class = 'text'>
                    <span class = 'title'>Ищешь друзей в МГТУ?<br>Тогда тебе к нам!<br></span>
                    Наш сервис позволит вам познакомиться с интересными людьми, близкими к вашим предпочтениям, а также завести новых друзей!
                </div>
                <div class = 'button'>
                    <img src = '../../images/head-left.svg'>
                    <a class = 'start' href = 'https://oauth.vk.com/authorize?client_id=7543477&display=page&redirect_uri=http://127.0.0.1:4200/vk_get_auth&scope=friends&response_type=code&v=5.120' target = '_self'>Начать!</a>
                </div>
            </div>
            <div class = 'right'>
                <img src = '../../images/head-right.svg'>
            </div>
            <div class = "clear"></div>
        </div>
    </div>
</header>