// * {
//     box-sizing: border-box;
    
//     margin: 0;
//     padding: 0;
// }

// body {
//     font-family: "Roboto", sans-serif;
// }

// .header {
//   display: flex;
//   justify-content: center;
//   position: relative;
// }

// // .wrapper {
// //     max-width: 1200px;
// //     margin: 0 auto;
// // }

// * {
//     margin: 0;
//     padding: 0;
// }

// nav {
//     position: absolute;
//     padding: 0;
// }

// // nav ul {
// //     display: flex;
// // }

// .logo {
//     //position: absolute;
//     left: 1px;
//     top: 0px;
// }

// * {
//     margin: -5px;
//     padding: 5px;
// }

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header__left {
    margin-left: 115px;
    margin-top: 5px;
    float: left;
    display: table;
}

.logo {
    //margin: auto;
    //height: 50%;
    display: table-cell;
    vertical-align: middle;
}

.logo img {
    width: 60px !important;
}   

nav {
    float: right;
    margin-right: 100px;
}

nav ul {
    margin: 0;
    display: table;
}

nav ul li img{
    width: 35px;
    margin-top:2px;
}

nav ul li {
    display: table-cell;
    vertical-align: middle;
    padding-right: 40px;
}

// nav ul li .text {
//     margin-top: 10px;
// }

nav ul li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.liprof a img {
    border-radius: 90px;
}

.head_title {
    margin-left: 10px;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.head_title ._1 {
    font-size: 18pt;
    font-weight: 700;
    color: #000000;
}

.head_title ._2 {
    font-size: 24pt;
    font-weight: 800;
    color: #C03D3D;
}

.head_title ._3 {
    font-size: 16pt;
    font-weight: 700;
    color: #ffffff;
}
