<header>
    <div class="wrapper">
        <img src="../../images/head-small.svg" alt="header" width=90%>
    </div>
    
    <div class="header__content">
        <div class="header__left">
            <div class="logo">
                <img src="../../images/logo.png" alt="logo">
            </div>
			<div class = 'head_title'>
                <span class = '_1'>BMSTU</span><span class = '_2'> NET</span><span class = '_3'>WORK</span>
            </div>
        </div>
        <nav>
            <ul>
                <li class="liprof">
                    <a href="user"><img [src]="photoUrl" alt=""></a>
                </li>
                <li class="text">
                    <a href = "user">Профиль</a>
                </li>
                <li class="text">
                    <a href="search">Поиск</a>
                </li>
                <li class="text">
                    <a href="exit">Выход</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
