.container__pics {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic1 {
    margin-right: 60px;
    margin-bottom: 100px;
}

.pic1 img {
    border-radius: 25px;
}

.pic2 {
    margin-bottom: 100px;
}

.pic2 img {
    border-radius: 25px;
}